extends layout

block content
  div#all
    div.left.box
      p#bio=bio
      p Competitions
      p History
    div.center
      img#char(src=img)
      div#centerbox.box
        h1#name=name
    div.right.box
      p Interactions
