extends layout

block content
  div#base
  div#bar
    div#title-container
      div#title-bg
        h1#title= title
    div.navbar#left
      button.navbutton.left#home Home
      span.navbar.left#divider
      button.navbutton.left#inventory Inventory
    div#navbar-center
    div.navbar#right
      button.navbutton.left#market Market
      span.navbar.right#divider
      button.navbutton.left#settings Settings
  div.box#main
    p Welcome to the beginning of of a journey
