doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

block content
  div#title-bg.big
    h1#title.big(onclick="location.href = '/'") VOyageR
  p(style="margin-top: 18%; margin-bottom: 40px;") Welcome to the beginning of of a journey...
  button(onclick="location.href = '/'") Begin
